body {
    background-color: #f5f5f5;
    text-align: center;
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 5%;
}

#inventoryForm {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#inventoryTable {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

#hiddenSearchTable {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

#form-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

#buttonGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.search-results {
    display: none;
}

.search-results.visible {
    display: block;
}

.search-results h2 {
    margin: 0 auto 10px;
    width: 80%;
    text-align: left;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.close-search {
    position: relative;
    right: 20px;
    top: 20px;
    background-color: #dc3545;
    width: 30px;
    height: 30px;
    border-radius: 20%;
    font-weight: bold;
    line-height: 0;
    padding: 0;
}

button.close-search:hover {
    background-color: #b02a37;
}

button:hover {
    background-color: #004792;
}

@media (max-width: 1200px) and (min-width: 641px) {
    #inventoryForm {
        flex-direction: column;
    }

    #inventoryTable, #hiddenSearchTable {
        width: 90%;
    }

    button {
        margin: 10px 0;
    }

    #form-group {
        flex-direction: row;
        gap: 0 10px;
    }

    #buttonGroup {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

@media (max-width: 860px) {
    #form-group {
        flex-direction: column;
        gap: 0;
    }
}

@media (max-width: 640px) {
    #inventoryForm {
        flex-direction: column;
    }

    #inventoryTable, #hiddenSearchTable {
        width: 100%;
    }

    button {
        margin: 10px 0;
    }

    #buttonGroup {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}